<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="home_css.css" crossorigin="anonymous">
    <title>Meta-Call</title>
</head>
<body>
    <div class="Homepage">
        <h1 class="gradient-text" onclick="Transition()">Meta Call</h1>
    </div>
    <br>
    <!--Trying to make it transition from logo to the buttons.-->
    <input id = "userRoom" type="text">
    <a id = "roomId" href="/def">
        <input type="submit"/>
    </a>
      <script src="home.js" defer></script>
</body>
</html>