@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1c19e4;
  --pink: #b81edb;
  --text: #fbfbfb;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(90deg, var(--blue), var(--pink));
  color: var(--text);
  text-shadow: 1px 1px 1px #333;
  overflow-wrap: break-word;
}
a,
li {
  text-decoration: none;
  list-style: none;
  color: var(--text);
}

/*Container*/
.container {
  max-width: 1440px;
  height: 80vh;
  background: rgba(255, 255, 255, 0.15);
  margin: auto;
  margin-top: 10vh;
  border-radius: 10px;
  box-shadow: 10px 10px 25px 2px #111;
  animation: fadeIn 4s ease-out;
}
@keyframes fadeIn {
  0% {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.05);
    color: rgba(255, 255, 255, 0.05);
  }
  100% {
  }
}
/*Buttons*/
.btn {
  font-weight: 700;
  color: var(--blue);
  font-family: inherit;
  background-color: var(--text);
  border-color: var(--pink);
  display: inline-block;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
  transition: 0.3s ease;
  box-shadow: 2px 2px 7px 1px #333;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.nav {
  font-size: 1.4rem;
  padding-top: 4rem;
  padding-left: 6rem;
  display: flex;
  align-items: center;
}

.nav-links {
  position: relative;
  right: -400px;
  display: flex;
  align-items: center;
}

.nav-links.active {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.7);
  padding: 15vh 0;
  font-size: 2rem;
  z-index: 2;
}

.fa-bars.close{
  display: none;
}
.fa-hexagon-xmark.open{
  display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    margin-right: 4rem;
    z-index: 2;
}
.nav-links li{
  margin-left: 2rem;
}
.nav-links li a:hover{
  opacity: 0.5;
}
.nav-links .btn{
  margin-left: 2rem;
}
.fa-bars,
.fa-hexagon-xmark{
  cursor: pointer;
  display: none;
}

/*Header*/
header{
  position: relative;
  margin-left: 6rem;
  margin-top: 4rem;
  max-width: 700px;
}
h1{
  font-size: 4rem;
}
h2{
  font-weight: 100;
  font-size: 2.5rem;
}
p{
  margin: 4rem 0;
}
/*Responsive*/
@media (max-width: 1440px) {
  .nav-links{
    display: none;
  }
  .fa-bars{
    display: flex;
    position: relative;
    justify-content: flex-end;
    width: 100%;
    margin-right: 4rem;
  }
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 2rem;
  }
  p{
    margin: 2rem 0;
  }
}
/* Later
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 25vmin;
  line-height: 20vmin;
}

.gradient-text {
  color: transparent;
  background: conic-gradient(
    #D9D7F1 12%, 
    #BAABDA 12%, #BAABDA 33%, 
    #E7FBBE 33%, #E7FBBE 55%, 
    #FFCBCB 55%, #FFCBCB 70%, 
    #B5DEFF 70%, #B5DEFF 87%, 
    #F7D1BA 87%);
  transition-duration: 1s;
  background-size: 50%;
  -webkit-background-clip: text;  
  background-clip: text;

  animation: expand-rev 0.5s ease forwards;

  cursor: pointer;
}

.gradient-text:hover {
  animation: expand 0.5s ease forwards;
  letter-spacing: 2px;
}

@keyframes expand {
  0% {
    background-size: 50%;
    background-position: 0 0;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 325%;
    background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
    background-size: 325%;
    background-position: -10em -4em;
  }
  20% {
    background-size: 55%;
    background-position: 0 1em;
  }
  100% {
    background-size: 50%;
    background-position: 0 0;
  }
}
*/