<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="style.css" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script>
        const ROOM_ID = "<%= roomId %>"
        
    </script>
        <script>
            let NAME = "<%= nameId %>"
        </script>
    
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>

    <title>Meta-Call</title>
</head>

<body>
    <div id="main" class="row" style="margin-right: 0px">
        <div id="call-buttons" class="float">
            <button id="cam-button" class="float-button enabled-button">
                <font size="6"> 📷</font>
            </button>
            <button id="mute-button" class="float-button enabled-button">
                <font size="6">🎤</font>
            </button>
            <button id="end-button" class="float-button enabled-button">
                <font size="6">📞</font>
            </button>
        </div>

        <div class="col-10" style="padding-right: 0px;">
            <div id="video-grid">

            </div>

        </div>
        <div class="col-2" style="height: 100vh; padding: 0px;">
            <div style="display:flex; flex-direction: column; height: 100%; padding: 0px;">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-chat-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-chat" type="button" role="tab" aria-controls="nav-chat"
                            aria-selected="true">Chat</button>
                        <button class="nav-link" id="nav-settings-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-settings" type="button" role="tab" aria-controls="nav-settings"
                            aria-selected="false">Settings</button>
                </nav>
                <div class="tab-content" id="nav-tabContent" style="display:flex; height: 100%; overflow: auto">
                    <div class="tab-pane fade show active" id="nav-chat" role="tabpanel" aria-labelledby="nav-chat-tab" style="width:100%">
                        <div class="container"
                            style="display:flex; flex-direction: column; height: 100%; padding: 0px;">
                            <div id="message-container"
                                style="align-self:start;flex: auto;width: 100%; padding: 0px; padding-left: 2px; overflow: auto;">
                                <div id="messages">
                                </div>
                            </div>
                            <div class="chat-input"
                                style="align-self:end; width: 100%; display:flex; gap:2px; padding:2px;">
                                <input type="text" id="inputText" style="flex: auto; ">
                                <button onclick="sendMsg()">Send</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
                        <div class="row g-2">
                            <div class="col-auto">
                              <label for="inputName" class="visually-hidden">Name</label>
                              <input type="text" class="form-control" id="inputName" placeholder="Name">
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-primary mb-3" onclick="updateName()">Update Name</button>
                            </div>
                        </div>
                        <div class="row g-3">
                            <div class="col-auto">
                              <label for="inputPass" class="visually-hidden">Pass</label>
                              <input type="text" class="form-control" id="inputPass" placeholder="Password">
                            </div>
                            <div class="col-auto">
                              <button class="btn btn-primary mb-3" onclick="updatePass()">Update Pass</button>
                            </div>
                            <div class="col-auto">
                                <button class="btn btn-primary mb-3" onclick="fetchPass()">Fetch</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <template id="template">
        <div id="call-card" class="grid-item">
            <div class="card text-bg-dark">
                <div class="card-img-top">

                </div>
                <div class="card-img-overlay">
                    <h5 class="card-title" style="color: white;">Name</h5>
                </div>
            </div>
        </div>
    </template>
    <script src="script.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js"
        integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>


</html>